/* variables */
/* header */
.header {
  overflow: hidden;
}
.header .container {
  background: linear-gradient(45deg, #f0f0ea 0%, #e0dfa5 100%);
  padding: 0;
}
.header .container .top {
  background: #eeedde;
  box-shadow: rgba(240, 227, 165, 0.4) 0 7px 29px 0;
  min-height: 100px;
}
.header .container .top .inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1920px;
  margin: 0 auto;
  padding-left: 2%;
}
.header .container .top .inner .left {
  display: flex;
  align-items: center;
  padding: 25px 0;
}
.header .container .top .inner .left .logo a {
  display: flex;
  align-items: stretch;
  width: 30px;
  height: 30px;
}
.header .container .top .inner .right .contact {
  background: #b89b1c;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 0 20px;
}
.header .container .top .inner .right .contact .icon {
  width: 30px;
  height: 30px;
  line-height: 0;
}
.header .container .top .inner .right .contact span {
  font-size: 20px;
  padding-left: 10px;
}
.header .container .first-view {
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1920px;
  margin: 0 auto;
  padding: 50px 2% 0 2%;
}
.header .container .first-view .bg01 {
  position: absolute;
  z-index: 1;
  top: -50px;
  left: 0;
  background-image: radial-gradient(at 0% 50%, rgb(246, 227, 174) 0px, transparent 50%);
  background-size: cover;
  width: 400px;
  height: 400px;
}
.header .container .first-view .text {
  position: relative;
  z-index: 3;
  padding: 0 10px 0 0;
}
.header .container .first-view .text .en span {
  color: #191a03;
  font-family: "Jost";
  font-weight: 400;
  letter-spacing: 4px;
  font-size: 28px;
  margin: 0 0 0 0;
}
.header .container .first-view .text h2 {
  line-height: 1.3;
  font-size: 50px;
  margin: 15px 0 0 0;
}
.header .container .first-view .text h2 .color {
  color: #b89b1c;
}
.header .container .first-view .text .sentence {
  margin: 25px 0 0 0;
}
.header .container .first-view .text .sentence p {
  font-weight: 600;
  letter-spacing: 1px;
  font-size: 34px;
}
.header .container .first-view .text .sentence p .color {
  color: #b89b1c;
}
.header .container .first-view .text .award-wrapper {
  list-style: none;
  display: flex;
  align-items: stretch;
  margin: 20px 0 0 0;
}
.header .container .first-view .text .award-wrapper .award {
  position: relative;
  z-index: 1;
  margin: 0 30px 0 0;
}
.header .container .first-view .text .award-wrapper .award .mark {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header .container .first-view .text .award-wrapper .award .mark img {
  position: relative;
  top: 5px;
  width: 45px;
  height: auto;
}
.header .container .first-view .text .award-wrapper .award .mark .catch {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-family: "Jost";
  font-weight: 400;
  text-align: center;
  margin: 0 -5px 0 -5px;
  padding: 0 0 0 0;
}
.header .container .first-view .text .award-wrapper .award .mark .sub .grade,
.header .container .first-view .text .award-wrapper .award .mark .main .grade {
  display: inline-block;
  background: linear-gradient(45deg, #b7812b 0%, #d98cd9 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.header .container .first-view .text .award-wrapper .award .mark .sub .grade .jp,
.header .container .first-view .text .award-wrapper .award .mark .main .grade .jp {
  font-family: "Murecho";
  font-weight: 500;
}
.header .container .first-view .text .award-wrapper .award .mark .sub .grade .middle,
.header .container .first-view .text .award-wrapper .award .mark .main .grade .middle {
  font-size: 0.7em;
}
.header .container .first-view .text .award-wrapper .award .mark .sub {
  line-height: 1.45;
}
.header .container .first-view .text .award-wrapper .award .mark .sub .grade {
  letter-spacing: 2px;
  font-size: 17px;
}
.header .container .first-view .text .award-wrapper .award .mark .main {
  line-height: 1;
}
.header .container .first-view .text .award-wrapper .award .mark .main .grade {
  font-size: 45px;
  padding: 0 0 5px 0;
}
.header .container .first-view .text .award-wrapper .award .line {
  position: relative;
  z-index: 2;
  text-align: center;
  margin: -15px 0 0 0;
}
.header .container .first-view .text .award-wrapper .award .line p {
  display: inline-block;
  color: #ffffff;
  background: linear-gradient(90deg, #b1791b 0%, #c4a538 100%);
  font-size: 18px;
  padding: 3px 15px 3px 15px;
}
.header .container .first-view .text .award-wrapper .award:last-child {
  margin: 0 0 0 0;
}
.header .container .first-view .text .button {
  border-radius: 100px;
  box-shadow: rgba(240, 227, 165, 0.4) 0 7px 29px 0;
  background: #b89b1c;
  width: 425px;
  margin: 40px 0 0 0;
}
.header .container .first-view .text .button a {
  display: flex;
  color: #eeedde;
  align-items: center;
  justify-content: center;
  padding: 30px 0 30px 0;
}
.header .container .first-view .text .button a .catch {
  font-size: 24px;
  padding: 0 10px 0 0;
}
.header .container .first-view .text .button a img {
  line-height: 0;
  width: 30px;
  height: auto;
}
.header .container .first-view .visual .row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header .container .first-view .visual .row .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 4px #eeedde;
  border-radius: 50%;
  box-shadow: rgba(240, 227, 165, 0.4) 0 7px 29px 0;
  background: linear-gradient(90deg, #c2f0b8 0%, #e5eeb1 100%);
  width: 80px;
  height: 80px;
}
.header .container .first-view .visual .row .icon img {
  width: 60%;
  height: auto;
}
.header .container .first-view .visual .row .thumb {
  overflow: hidden;
  border-radius: 50%;
  box-shadow: rgba(240, 227, 165, 0.4) 0 7px 29px 0;
  width: 150px;
  height: 150px;
  flex: 0 0 auto;
}
.header .container .first-view .visual .row .thumb img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
  border-radius: 50%;
  box-shadow: rgba(238, 173, 173, 0.4) 0 7px 29px 0;
}
.header .container .first-view .visual .row.row02 {
  justify-content: center;
  gap: 24px;
}
.header .container .first-view .visual .row.row02 .thumb {
  width: 450px;
  height: 450px;
  flex: 0 0 450px;
}

.text-rotate {
  overflow: hidden;
  width: 100%;
  padding: 0 0 40px 0;
}
.text-rotate ul {
  position: relative;
  display: flex;
  list-style-type: none;
  white-space: nowrap;
  margin: 15px 0 0 0;
  padding: 0 0 0 0;
  will-change: transform opacity;
  gap: 2.5rem;
}
.text-rotate ul li {
  position: relative;
  color: #b89b1c;
  transform: skew(-15deg);
  box-shadow: rgba(240, 227, 165, 0.4) 0 7px 29px 0;
  background: #fff;
  letter-spacing: 3px;
  font-size: 24px;
  padding: 5px 25px 5px 25px;
}
.text-rotate ul li::before {
  position: absolute;
  z-index: 2;
  opacity: 0.9;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-width: 2px;
  border-style: solid;
  border-image: linear-gradient(90deg, #e7b837 0%, #f5c4c8 45%, #ed7a4d 70%, #f5c4c8 85%, #e7b837 90% 100%);
  -o-border-image: linear-gradient(90deg, #e7b837 0%, #f5c4c8 45%, #ed7a4d 70%, #f5c4c8 85%, #e7b837 90% 100%);
  border-image-slice: 1;
  content: "";
  width: calc(100% - 12px);
  height: calc(100% - 12px);
}