@charset "utf-8";

/* variables */
$main-color: #b89b1c;
$light-color: #eeedde;
$sub-color: #191a03; 
$grade-color: linear-gradient(90deg,#c2f0b8 0%,#e5eeb1 100%);
$overlay-color: #ffeff0;
$box-shadow-plane: rgba(100, 100, 111, 0.2) 0 7px 29px 0;
$box-shadow-main: rgba(240, 227, 165, 0.4) 0 7px 29px 0;
